<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="url을 입력해주세요" />
    <meta property="og:title" content="담담" />
    <meta property="og:image" content="https://i.ibb.co/qCCd1X7/Frame-2.png" />
    <meta property="og:description" content="금연 웹앱" />
    <meta property="og:site_name" content="DamDam" />
    <meta property="og:locale" content="Kor" />
    <meta name="keywords" content="금연, 웹앱" />
    <meta name="author" content="이름" />
    <meta name="description" content="DamDam 홈페이지입니다." />
    <link rel="icon" href="/images/favicon.png" />

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Damdam</title>
  </head>
  <body id="main">
    <div class="container">
      <!-- header -->
      <div class="header">
        <div class="user-name">
          <h1>안녕하세요 <%= userArr[0].userName %> 님</h1>
        </div>
        <div class="info-setting">
          <div class="info">
            <a href="/userinfo"><i class="fa-solid fa-circle-user"></i></a>
          </div>
          <div class="setting">
            <a href="/setting"><i class="fa-solid fa-gear"></i></a>
          </div>
        </div>
      </div>
      <!-- main- -->
      <div class="main-timer">
        <div><img src="/images/main-timer.png" alt="timer-img" /></div>
        <div>
          <div class="main-timer-day">
            <% let startDate = new
            Date(userArr[0].EndYear,userArr[0].EndMonth-1,userArr[0].EndDay,userArr[0].EndHour,userArr[0].EndMinute);
            %> <% let nowDate = new Date; let korea = new Date(nowDate.getFullYear(),nowDate.getMonth(),nowDate.getDate(),nowDate.getHours()+9,nowDate.getMinutes()); let currDay = 24 * 60 * 60 * 1000; let
            diff = korea - startDate; let day = parseInt(diff/currDay) ; %>
            <%= day %>일
          </div>

          <div class="main-timer-clock">
            <div class="main-timer-hour">
              <% let hour = parseInt(diff/(1000 * 60 * 60)); let upH = hour -
              day*24; if(upH <10) {upH = ""+upH} %> <%= upH %>시간
            </div>
            <div class="main-timer-minute">
              <% let minute = parseInt(diff/(1000 * 60)) %> <% let upM = minute
              - day*24*60 - (hour - day*24)*60; if(upM <10){upM = "" + upM} %>
              <%= upM %>분
            </div>
          </div>
        </div>
      </div>
      <!-- section achievement -->
      <section class="achievement">
        <div class="achievement-title">
          <div class="achievement-icon"><i class="fa-solid fa-trophy"></i></div>
          <div><h1>나의 업적</h1></div>
          <div><h3><%= totalLength %> / <%= allLength %></h3></div>
        </div>
        <div class="achievement-contents">
          <% let randomPrice = Math.floor(Math.random()*testPriceArr.length); %>
          <% let randomDay = Math.floor(Math.random()*testDayArr.length); %> 
          <% let randomCount = Math.floor(Math.random()*testCountArr.length); %> 
          <% if(testPriceArr.length>0) { %>
            <div class="achievement-content">
              <img src="<%= testPriceArr[randomPrice].img %>" alt="01">
              <div class="achievement-content-text"><%= testPriceArr[randomPrice].content %></div>
            </p>
          </div>
          <% } %>
          <% if(testDayArr.length>0) { %>
            <div class="achievement-content">
              <img src="<%= testDayArr[randomDay].img %>" alt="01">
              <div class="achievement-content-text"><%= testDayArr[randomDay].content %></div>
            </p>
          </div>
          <% } %>
          <% if(testCountArr.length>0) { %>
            <div class="achievement-content">
              <img src="<%= testCountArr[randomCount].img %>" alt="01">
              <div class="achievement-content-text"><%= testCountArr[randomCount].content %></div>
            </p>
          </div>
          <% } %>
          <div class="achievement-content">
            <p>
              <a href="/achievement">모든<br />업적 보기</a>
            </p>
          </div>
        </div>
      </section>

      <!-- section result -->
      <section class="result">
        <div class="result-title">
          <div class="result-icon">
            <i class="fa-regular fa-rectangle-list"></i>
          </div>
          <div><h1>나의 성과</h1></div>
        </div>
        <div class="result-contents">
          <div class="count">
            <div class="count-icon"><i class="fa-solid fa-smoking"></i></div>
            <div class="count-content">
              <h3>피우지 않은 담배 개수</h3>
              <h1><%= parseInt(userArr[0].CountPerDay * (hour/24)) %>개피</h1>

              
              
            </div>
          </div>
          <div class="save">
            <div class="save-icon"><i class="fa-solid fa-piggy-bank"></i></div>
            <div class="save-content">
              <h3>절약한 금액</h3>
              <h1><%= parseInt(userArr[0].Price * (hour/24))  %>원</h1>
            </div>
          </div>
          <div class="time">
            <div class="time-icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div class="time-content">
              <h3>늘어난 시간</h3>
              <h1><%= parseInt(minute/24)%>분</h1>
            </div>
          </div>
          <div class="contour"></div>
          <div class="overcome">
            <div class="overcome-icon">
              <i class="fa-solid fa-hand-fist"></i>
            </div>
            <div class="overcome-content">
              <a href="/symptom"
                ><h1>금단증상 극복하기</h1>
                <span><i class="fa-solid fa-chevron-right"></i></span
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- section changes -->
      <section class="change">
        <div class="change-title">
          <div class="change-icon"><i class="fa-solid fa-recycle"></i></div>
          <div><h1>나의 변화</h1></div>
        </div>
        <div class="change-contents">
          <div class="prev">
            <div>
              <% if((stageCount-1)== -1){ %>
              <p>0 단계</p>
              <% }  else { %>
              <p><%= stage[stageCount-1].stage %></p>
              <p>
                <%= stage[stageCount-1].goal %> - <%=
                stage[stageCount-1].stageTxt %>
              </p>
              <% } %>
            </div>
          </div>
          <div class="arrow">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="now">
            <div>
              <p><%= stage[stageCount].stage %></p>
              <p>
                <%= stage[stageCount].goal %> - <%= stage[stageCount].stageTxt
                %>
              </p>
            </div>
            <div class="progress">
              <% let gage = Math.floor((pass/stage[stageCount].min)*100) %> <%
              if(gage >= 100){ gage = 100} %>
              <progress
                id="progress"
                value="<%= gage %>"
                min="0"
                max="100"
              ></progress>
              <p><%= gage %>%</p>
            </div>
          </div>
          <div class="arrow">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="next">
            <div>
              <p><%= stage[stageCount+1].stage %></p>
              <p>
                <%= stage[stageCount+1].goal %> - <%=
                stage[stageCount+1].stageTxt %>
              </p>
            </div>
          </div>
          <div class="contour"></div>
        </div>
        <div class="change-seemore">
          <div class="change-seemore-icon">
            <i class="fa-solid fa-hand-fist"></i>
          </div>
          <div class="change-seemore-content">
            <a href="/stage">
              <h1>변화단계 알아보기</h1>
              <span><i class="fa-solid fa-chevron-right"></i></span
            ></a>
          </div>
        </div>
      </section>
      <!-- knowledge -->
      <section class="knowledge">
        <div class="knowledge-title">
          <div class="knowledge-icon">
            <i class="fa-regular fa-lightbulb"></i>
          </div>
          <div><h1>지식 +</h1></div>
        </div>
        <div class="knowledge-content">
          <h2>
            <% let randomArr =
            knowledge104[Math.floor(Math.random()*knowledge104.length)]; %> <%=
            randomArr.categoryTxt; %>
          </h2>
          <h4>
            <%=
            randomArr.contents[Math.floor(Math.random()*randomArr.contents.length)].txt
            %>
          </h4>
        </div>
        <div class="contour"></div>
        <div class="knowledge-seemore">
          <div class="knowledge-seemore-icon">
            <i class="fa-solid fa-hand-fist"></i>
          </div>
          <div class="knowledge-seemore-content">
            <a href="/knowledge">
              <h1>모든 정보 확인</h1>
              <span><i class="fa-solid fa-chevron-right"></i></span
            ></a>
          </div>
        </div>
      </section>
    </div>
    <!-- footer -->
    <footer>
      <div class="home active">
        <a href="/main"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="achievement">
        <a href="/achievement"><i class="fa-solid fa-trophy"></i></a>
      </div>
      <div class="community">
        <a href="/community"><i class="fa-solid fa-user-group"></i></a>
      </div>
      <div class="calendar">
        <a href="/calendar"><i class="fa-solid fa-calendar-days"></i></a>
      </div>
    </footer>
    <!-- fontA -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    >
    </script>
    <script>
      let userImage = document.querySelector(".info-setting .info a")
      if("<%= userArr[0].img %>"){
        userImage.innerHTML = `<img src="images/<%= userArr[0].img %>" alt="user" />`
      }
    </script>
  </body>
</html>
