<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보</title>
    <link rel="stylesheet" href="/css/userinfo.css" />
  </head>
  <body id="userinfo">
    <div class="container">
      <div class="title">
        <a href="/main" class="backbutton">
          <img src="/images/ion_arrow-back.png" alt="뒤로가기" />
        </a>
        <h1 class="userinfo-title-main">내 정보</h1>
      </div>
      <form action="/delete" method="post" enctype="multipart/form-data">
        <div class="inputbox-name">
          <input
          class="imgUp"
            type="file"
            accept="image/*"
            multiple
            style="display: none"
            name="img"
            onchange="readURL(this)"
          />
          <img class="userImg" src="/images/mdi_user.png" alt="기본사진" />
          <input
            type="text"
            value="<%= userArr[0].userName %>"
            name="userName"
            placeholder="name"
            class="userName"
          />
        </div>
        <div class="inputbox-BrithDay">
          <h3>생년월일</h3>
          <div class="content-box">
            <input
              type="text"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              max="2023"
              maxlength="4"
              value="<%= userArr[0].BrithDayYear %>"
              name="BrithDayYear"
              class="w100px"
            />

            <p>년</p>
            <input
              type="text"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              max="12"
              maxlength="2"
              value="<%= userArr[0].BrithDayMonth %>"
              name="BrithDayMonth"
              class="w50px"
            />
            <p>월</p>
            <input
              type="text"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              max="31"
              maxlength="2"
              value="<%= userArr[0].BrithDayDay %>"
              name="BrithDayDay"
              class="w50px"
            />
            <p>일</p>
          </div>
        </div>
        <!-- inputbox-BrithDay -->
        <div class="inputbox-Price">
          <h3>담배 가격</h3>
          <div class="content-box">
            <input
              type="text"
              name="Price"
              class="w100px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              value="<%= userArr[0].Price%>"
            />
            <p>원</p>
          </div>
          <!-- content-box -->
        </div>
        <!-- inputbox-Price -->
        <div class="inputbox-CountPerDay">
          <h3>하루 흡연량</h3>
          <div class="content-box">
            <input
              type="text"
              name="CountPerDay"
              class="w100px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].CountPerDay%>"
            />
            <p>개피</p>
          </div>
        </div>
        <!-- inputbox-CountPerDay -->
        <div class="inputbox-Start">
          <h3>흡연 시작일</h3>
          <div class="content-box">
            <input
              type="text"
              name="StartYear"
              class="w100px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="4"
              value="<%= userArr[0].StartYear%>"
            />
            <p>년</p>
            <input
              type="text"
              name="StartMonth"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].StartMonth%>"
            />
            <p>월</p>
            <input
              type="text"
              name="StartDay"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].StartDay%>"
            />
            <p>일</p>
            <input
              type="text"
              name="StartHour"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].StartHour%>"
            />
            <p>시</p>
            <input
              type="text"
              name="StartMinute"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].StartMinute%>"
            />
            <p>분</p>
          </div>
        </div>
        <!-- inputbox-Start -->
        <div class="inputbox-end">
          <h3>금연 시작일</h3>
          <div class="content-box">
            <input
              type="text"
              name="EndYear"
              class="w100px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="4"
              value="<%= userArr[0].EndYear%>"
            />
            <p>년</p>
            <input
              type="text"
              name="EndMonth"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].EndMonth%>"
            />
            <p>월</p>
            <input
              type="text"
              name="EndDay"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].EndDay%>"
            />
            <p>일</p>
            <input
              type="text"
              name="EndHour"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].EndHour%>"
            />
            <p>시</p>
            <input
              type="text"
              name="EndMinute"
              class="w50px"
              oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1')"
              maxlength="2"
              value="<%= userArr[0].EndMinute%>"
            />
            <p>분</p>
          </div>
        </div>
        <!-- inputbox-end -->

          <button class="input-userinfo-button" type="submit" name="delete">
            수정
          </button>
        </div>
      </form>

      <footer>
        <div class="home">
          <a href="/main"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="achievement">
          <a href="/achievement"><i class="fa-solid fa-trophy"></i></a>
        </div>
        <div class="community">
          <a href="/community"><i class="fa-solid fa-user-group"></i></a>
        </div>
        <div class="calendar">
          <a href="/calendar"><i class="fa-solid fa-calendar-days"></i></a>
        </div>
      </footer>
    </div>
    <!-- container -->
    <!-- fontA -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
    <script>
       const upload = document.querySelector(".userImg");
      const realUpload = document.querySelector(".imgUp");
      upload.addEventListener("click", () => realUpload.click());

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          console.log(reader);
          reader.onload = function (e) {
            upload.src = e.target.result;
          };

          reader.readAsDataURL(input.files[0]);
          console.log(input.files[0]);
        } else {
          upload.src = "/images/mdi_user.png";
          console.log("123");
        }
      }
      let src = "<%= userArr[0].img %>";
      if (src) {
        upload.setAttribute("src", `/images/${src}`);
      } else {
        upload.setAttribute("src", "/images/mdi_user.png");
      }
    </script>
  </body>
  
</html>